<div class="center jumbotron">
  <h1>Mensajera facundini</h1>
  <p><a class="btn btn-primary btn-xlarge" href="#" role="button">Entrar</a></p>
  <p><a class="btn btn-secondary btn-lg"  href="#" role="button">Registrarme</a></p>
</div>