<div class="center jumbotron">
  <h1>Weebl Hoobs!</h1>
  <p><%=link_to 'Entrar', login_path, class:"btn btn-xlarge btn-primary" %></p>
  <p><%=link_to 'Registrarse', signup_path, class:"btn btn-xlarge"%></p>
</div>