<div class="container">
<footer class="footer">
<small>
Copyright &copy; <a href="https://www.google.com">GooGle</a>
by <a href="https://www.facundograpsas.com">Facu G</a>
</small>
<nav>
<ul>
<li><%=link_to 'About', about_path%></li>
</ul>
</nav>
</footer>
</div>